################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GitHubb/GitHubb/bin/Debug/netcoreapp3.1
/GitHubb/GitHubb/obj
